.container {
	width: 1120px;
	display: block;
}

/*head*/
.head {
	background-color: rgba(66, 139, 202, 0.84);
	-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	box-shadow:inset 0 -2px 5px rgba(0,0,0,.1);
	z-index: 100;
	position: fixed;
	width: 100%;
}

.nav-content-item {
  position: relative;
  display: inline-block;
  padding: 12px;
  font-weight: 500;
  color: #cdddeb;
}
.nav-content-item:hover,
.nav-content-item:focus {
  color: #fff;
  text-decoration: none;
}

.nav-content-brand {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-content .active {
  color: #fff;
}
.nav-content .active:after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*left side*/
.contact {
  margin-top: 25px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}

.contact .mail{
  list-style: none;
  margin-left: -12px;
  color: #6B6B6B;
}


.mail>li {
    padding-top: 10px;
}

.mail>li>i{
  margin-right: 15px;
}

i.fa.fa-map-marker {
    margin-right: 21px;
}

.social>li {
  display: inline-block;
}

ul.social {
    margin-left: -20px;
}

.social i.fa {
	font-size: 30px;
	padding: 5px;
}

div#photo {
	background-image: url("1.jpg");
	height: 200px;
	width: 180px;
	padding-top: 10px;
	margin-left: 40px;
	border-radius: 8px;
}

/*bio*/
#bio {
	padding-top: 50px;
}

/*publications*/
.publications li {
    padding: 5px;
}